@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Patrick+Hand&display=swap');

h1{
    font-family: 'Gentium Plus', serif;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}